<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="59141KillerrinStudios.AdvancedWallpaperManager" Publisher="CN=CB9966B0-97F1-4167-993A-C177C5B8B46A" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="3b0704fd-1b87-4036-be55-059e4c3921a9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Advanced Wallpaper Manager</DisplayName>
    <PublisherDisplayName>Killerrin Studios</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WallpaperManager.App">
      <uap:VisualElements DisplayName="Advanced Wallpaper Manager" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="An Advanced Wallpaper Manager for Windows 10 that has several advanced features for managing Wallpapers that Microsoft has removed from Windows" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.lockScreenCall" />
        <Extension Category="windows.backgroundTasks" EntryPoint="WallpaperManager.BackgroundTasks.FileDiscoveryBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="userAccountInformation" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>